      
      body{
       padding-top: 80px;
       font-family: Roboto,Arial;
       margin: 0;
       padding-left: 80px;
      }
      
       .side-br{
        z-index: 200;
        width: 72px;
        position: fixed;
        top: 65px;
        left: 0;
        bottom: 0;
      }
      .sidebar-link img{
        height: 20px;
      }
      .sidebar-link div{
        font-size: 8px;
        margin-top: 3px;
      }
      .sidebar-link{
        
        flex-direction: column;
        height: 64px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .sidebar-link:hover{
          height: 64px;
          background-color: rgb(235, 235, 235);
      }
      p{
        font-family: Roboto , Arial;
      }
      .thumails-row{
        margin-bottom: 12px;
        position: relative;
      }
      .thumbnail {
        width: 220px;
        display: block;
      }
      .video-author{
        margin-top: 5.5px;
        margin-bottom: 1px;
      }
      .video-stats{
        margin-top: 0;
      }
      .search-bar {
        
      }
      .put-color{
        font-size: 9px;
        color: rgb(96, 96, 96);
      }
      .video-title{
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 0;
      }

     
     
      .video-info-grid{
        display: grid;
        grid-template-columns: 50px 1fr;
      }
      .channel-picture{
        width: 40px;
        border-radius: 50px;
      }
      .video-info{
        
      }
     
     
      
     
      .video-grid{
        margin-top: -13px;
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 16px;
        row-gap: 15px;
      }
      .video-time{
        background-color: black;
        color: white;
        position: absolute;
        right: 3px;
        bottom: 5px;
        
        font-size: 13px;
        padding: 1px;
        border-radius: 2px;
      }
      .Noti-container{
        cursor: pointer;
      }
      .notiTag{
        background-color: #cc0000;
        position: absolute;
        top: 0;
        color: white;
        border: 1px solid white;
        padding: 0 5px;
        border-radius: 84px;
        font-size: 10px;
        right: -7px;
        
    }
      
      .header{
        display: flex;
        height: 57px;
    
        position: fixed;
        background-color: white;
        top: 0;
        right: 0;
        z-index: 100;
        bottom: 0;
        left: 0;
        justify-content: space-between;
        align-items: center;
        border-bottom-width:1px;
        border-bottom-style:solid ;
        border-bottom-color:rgb(215, 213, 213) ;
      }
      .firstSelection{
         margin-left: 28px;
         width: 150px;
      }
      .hamburger-menu{
        height: 15px;
        margin-right: 12px;
      }
      .youtube-logo{
        height: 15px;
      }
      .secondSelection{
          display: flex;
          align-items: center;
         max-width: 400px;
      }
      .voiceSearchTag{
         position: relative;
         
      }
      .voiceSearchTag:hover .toil-Tag2{
        opacity: 1
        ;
      }
      .toil-Tag2{
        bottom: -25px;
        left: -21px;
        display: flex;
         justify-content: center;
         align-items: center;
        position: absolute;
        background-color: #747474;
        color: white;
        white-space: nowrap;
         font-size: 9px;
         border-radius: 1px;
         padding: 2px 4px;
         opacity: 0;
        transition: opacity 0.15s;
        pointer-events: none;
       
      }
      .search{
        flex: 1;  
        height: 26px;
        padding-left: 10px;
        border-radius: 1px;
        border-color: #CCCCCC;
        width: 237px;
        border-width: 1px;
        border-style: solid ;
        outline-color: rgb(118, 118, 230);
        box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.05);
      }
      .thirdSelection{
        display: flex;
        margin-right: 11px;
        flex-shrink: 0;
        justify-content: space-between;
      }
      .search-barTag{
           width: 15px;
           
           height: 21px;
           margin-top: 2px;
      }
      .Noti-container{
        position: relative;
      }
       .toil-Tag{
        background-color: #747474;
        color: white;
        bottom: -24px;
         left: 5px;
         font-size: 9px;
         border-radius: 1px;
         padding: 2px 4px;
         opacity: 0;
        position: absolute;
        transition: opacity 0.15s;
        pointer-events: none;
      }
      .searchTagbtn:hover .toil-Tag{
        opacity: 1;
      }
      .searchTagbtn{
        background-color: #FFFFFF;
        cursor: pointer;
        border: none;
        position: relative;
        border-width:1px ;
        border-style: solid;
        width: 45px;
        border-color: #CCCCCC;
        
      }
      .voice-search{
            width: 21px;
            margin-left: 2px;
            cursor: pointer;
      }
      .voiceSearchTag{
        background-color: #FFFFFF;
        border: none;
       
      }
      .uploadeTag-Container{
        background-color: #FFFFFF;
        border: none;
        position: relative;
      }
      .Noti-container{
        position: relative;
      }
      .Noti-container:hover .noti-toil{
        opacity: 1;
      }
      .noti-toil{
        position: absolute;
        color: white;
        left: -14px;
    padding: 1px 4px;
    bottom: -15px;
    opacity: 0;
    font-size: 9px;
        background-color:#747474 ;
      }
      .youtubeapp-Container{
        position: relative;
      }
      .youtubeapp-Container:hover .youtube-toil{
        opacity: 1;
      }
      .youtube-toil{
        pointer-events: none;
        transition: opacity 0.15s;
         position: absolute;
         background-color:#747474 ;
         font-size: 9px;
         width: 55px;
         color: white;
         padding: 1px 4px;
         bottom: -13px;
         opacity: 0;
         left: -14px;
      }
      .create-toil{
        background-color:#747474;
        color: white;
        position: absolute;
        font-size: 9px;
        left: -1px;
        bottom: -13px;
        padding: 1px 4px;
        opacity: 0;
        transition: opacity 0.15s;
        pointer-events: none;
      }
      .uploadeTag-Container:hover .create-toil{
        opacity: 1;
      }
      .uploadeTag{
        width: 19px;
      }
      .youtubeapp-Container{
        background-color: #FFFFFF;
        border: none;
      }
      .youtubeapp{
        width: 19px;
        
      }
      .icon-Container{
        background-color: #FFFFFF;
        border: none;
      }
      .iconsTag{
        width: 19px;
      }
      .myChannel-Container{
        background-color: #FFFFFF;
        border: none;
      }
      .myChannelTag{
        width: 21px;       
      }

      .channel-profile{
        position: relative;
      }
      .channel1-toilCon{
        margin-right: 4px;
      }
      .channel-profile:hover .channel-toilTag{
        opacity: 1;
      }
      .channel-toilTag{
        background-color:#fafafafa ;
        transition: opacity 0.15s;
        position: absolute;
        justify-content: center;
        pointer-events: none;
        border-radius: 6px;
        align-items: center;
        left: 21px;
        opacity: 0;
        width: 128px;
        padding: 4px;
        bottom: -19px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
        display: flex;
      }
      .st{
        font-size: 9px;
      }
      .sptoil{
        font-size: 10px;
      }
      .channel1-toil{

        width: 40px;
        border-radius: 50px;
      }

      